@page "/"

<PageTitle>Seguindo Jesus Cristo</PageTitle>

<MudStack Row="true" Class="gap-x-4" AlignItems="AlignItems.Center" Justify="Justify.Center">
    <MudTooltip Text="Photo by https://stockcake.com/i/serene-mountain-sunrise_901377_1003037 Stockcake">
        <MudAvatar Style="height:150px; width:150px;">
            <MudImage Src="images/Shepherd-with-Sheep.jpg" Style="height:256px; width: 450px;"></MudImage>
        </MudAvatar>
    </MudTooltip>
</MudStack>

<MudStack AlignItems="AlignItems.Center">
    <MudText Typo="Typo.h4">Creia em Jesus Cristo</MudText>
</MudStack>

<MudTabs Elevation="2" Rounded="true" Centered="true" Class="my-6" Color="Color.Dark">
    <MudTabPanel Icon="@Icons.Material.Filled.PersonOff" Text="Condenados">
        <ChildContent>
            <MudContainer MaxWidth="MaxWidth.Medium" Style="padding-top: 30px">
                    <MudText Style="text-indent: 20px;">
                            Todos nós somos pecadores. Pecado é errar o alvo. Qual alvo? A vontade de Deus.
                        <br />
                        Quando é dito que somos pecadores, isso é o mesmo que dizer que somos aqueles que erraram a vontade de Deus, que falharam em cumprir
                        o Seu propósito. Deus nos criou para o propósito de que Ele fosse adorado por nós ao nos relacionarmos com Ele.
                        Para que ao nos deleitarmos nEle, em Sua beleza, santidade, e amor, nós o glorificássemos.
                        Em outras palavras, Deus nos fez para que nós O amássemos acima de tudo.
                        </MudText>

                        <MudText Style="text-indent: 20px;">
                            Nós falhamos. Nós O rejeitamos. Nós escolhemos a nossa própria vontade e abandonamos o propósito dEle.
                        Mas essa não é uma falha qualquer. Não foi uma falha contra outra pessoa semelhante. Não foi um erro contra
                        uma instituição ou governo humano, ou contra um reino terrestre.
                        Foi uma traição contra o Criador de todas as galáxias e de todas as formas de vida. Rejeitamos o Sustentador do universo.
                        Traímos nosso próprio Criador.

                        Esse ato comunicou que, aos nossos olhos, nós nos víamos como mais elevados do que Deus.
                        Gritamos para toda criação: “Meus pensamentos são melhores que os desígnios de Deus. Não preciso dEle.”
                    </MudText>
                    <MudText Style="text-indent: 20px;">
                        Deus é perfeitamente santo.
                        A menor imperfeição não tem lugar diante dEle. Então, o quão mais terrível para Ele é essa rebelião grotesca?

                        Assim, caímos em condenação. Qual é a punição por ofender outra pessoa? Seria maior a punição por uma ofensa cometida contra um rei?
                        Qual seria a punição por ofender um Deus tão perfeito que nem toda eternidade é suficiente para declarar Sua majestade e beleza?
                        Sim, uma eternidade distante de Sua beleza e amor. Uma eternidade recebendo a ira de Deus.
                        <br />
                        <br />
                        <cite>"Porque todos pecaram e estão destituídos da glória de Deus;"</cite> - Rm 3:23
                        <br />
                        <cite>"Porque o salário do pecado é a morte..."</cite> - Rm 6:23
                    </MudText>
            </MudContainer>
        </ChildContent>
    </MudTabPanel>
    <MudTabPanel Icon="@Icons.Material.Filled.Flare" Text="A boa notícia">
        <ChildContent>
            <MudContainer MaxWidth="MaxWidth.Medium" Style="padding-top: 30px">
                    <MudText Style="text-indent: 20px;">
                        Deus é justo por isso deve punir o pecador.
                        Porém, Deus também nos amou e enviou Seu único Filho, Jesus Cristo,
                        para que Ele fosse punido em nosso lugar.
                        Após ter morrido e sido sepultado por nós, o Senhor Jesus ressuscitou e subiu aos céus.
                        Agora todo aquele que crer em Cristo, passa da morte para a vida e terá vida eterna com Ele.
                        <br />
                        <br />
                    </MudText>
            </MudContainer>
        </ChildContent>
    </MudTabPanel>
    <MudTabPanel Icon="@Icons.Material.Filled.DirectionsWalk" Text="Nova vida">
        <ChildContent>
            <MudContainer MaxWidth="MaxWidth.Medium" Style="padding-top: 30px">
                    <MudText Style="text-indent: 20px;">
                        Jesus Cristo é Salvador e muito mais. Ele também é Senhor.
                        <br>
                        Após nascer de novo, o crente recebe o sublime e maravilhoso Espírito Santo,
                        que o impulsiona a viver exclusivamente para seu Senhor Jesus.
                        Assim, o crente cresce em uma vida que cumpri o propósito original de Deus,
                        não por suas próprias forças ou qualidades, mas pela obra do Senhor Jesus.
                        Não é mais o crente que vive, mas sim Cristo que vive nele.
                    </MudText>
            </MudContainer>
        </ChildContent>
    </MudTabPanel>
    <MudTabPanel Icon="@Icons.Material.Filled.Church" Text="Mais">
        <ChildContent>
            <MudContainer MaxWidth="MaxWidth.Medium" Style="padding-top: 30px">
                <MudText Typo="Typo.h5">
                    Se você não crê em Cristo, e ainda está vivendo para si mesmo, não espere outro dia.
                    Hoje é o dia de sua salvação. Creia no Senhor Jesus. Reconheça que é pecador, se arrependa e siga a Jesus.
                    Não caminhe sozinho. Entre em contado no site abaixo ou escreva para <a href="mailto:robwillup@gmail.com">robwillup@gmail.com</a>
                </MudText>
                <MudList T="string" Clickable="true">
                    <MudListItem Href="https://www.cristoemnos.com.br/" Target="_blank" Icon="@Icons.Material.Filled.PlayArrow">
                        <MudText>
                            Cristo em nós
                        </MudText>
                    </MudListItem>
                    @* <MudListItem Href="https://www.crazylove.org/about" Target="_blank" Icon="@Icons.Material.Filled.PlayArrow">
                        <MudText>
                            Crazy Love
                        </MudText>
                    </MudListItem>
                    <MudListItem Href="https://heartcrymissionary.com/sermons/" Target="_blank" Icon="@Icons.Material.Filled.PlayArrow">
                        <MudText>
                            Heart Cry
                        </MudText>
                    </MudListItem>
                    <MudListItem Href="https://www.desiringgod.org/" Target="_blank" Icon="@Icons.Material.Filled.PlayArrow">
                        <MudText>
                            Desiring God
                        </MudText>
                    </MudListItem> *@
                </MudList>
            </MudContainer>
        </ChildContent>
    </MudTabPanel>
</MudTabs>

@* <BlogPosts /> *@
